.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.header-title {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
    justify-content: center; /* Centra el título y el logo */
}

.logo {
    width: 60px; /* Tamaño del logo */
}

.titulo {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.header-note {
    font-size: 12px;
    text-align: right;
    color: #555;
    max-width: 200px; /* Limita el ancho de la nota */
}
