<ion-header>
    <ion-toolbar>
        <div class="flex-hedaer">
            <ion-img
                src="assets/logo.png"
                style="width: 60px; margin-left: 10px"
            ></ion-img>
            <h1 class="titulo">Botón de pánico</h1>
        </div>
        <!-- <ion-title style="text-align: center; font-weight: bold"
            >Botón de pánico</ion-title
        > -->
        <ion-note
            style="text-align: center; padding-bottom: 10px; display: block"
        >
            Municipalidad Distrital Andrés Avelino Cáceres
        </ion-note>
        <!-- <ion-note style="text-align: center">
            Municipalidad de Andrés Avelino Cáceres Dorregaray
        </ion-note> -->
    </ion-toolbar>
</ion-header>
