<ion-header>
    <ion-toolbar>
        <div class="header-container">
            <!-- Botón de menú -->
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>

            <!-- Logo y título centrados -->
            <div class="header-title">
                <ion-img src="assets/logo.png" class="logo"></ion-img>
                <h1 class="titulo">Botón de pánico</h1>
            </div>

            <!-- Nota alineada a la derecha -->
            <ion-note class="header-note">
                Municipalidad Distrital Andrés Avelino Cáceres
            </ion-note>
        </div>
    </ion-toolbar>
</ion-header>
