.flex-hedaer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    // background-color: #86a30a;
    color: #000;
}

.form {
    padding: 20px 0;
}

.nota {
    text-align: center;
}
