<ion-header>
    <ion-toolbar>
        <ion-title>¿Dónde encontrar el DV?</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismissModal()">Cerrar</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <p>
        El dígito verificador se encuentra al costado del número de DNI en el
        documento físico.
    </p>
    <img
        src="assets/dni-digito-verificador.png"
        style="width: 100%; border-radius: 8px"
    />
    <img
        src="assets/dnie-electronico1-digito-verificador.png"
        style="width: 100%; border-radius: 8px"
    />
    <img
        src="assets/dnie-electronico2-digito-verificador.png"
        style="width: 100%; border-radius: 8px"
    />
</ion-content>
