<!-- <ion-content class="ion-padding" scroll="true"> -->
<p class="titulo">{{ title | titlecase }}</p>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit($event)">
    <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="username" formControlName="username"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="isInvalidField('username')">
        Ingrese un email válido.
    </ion-text>

    <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input
            [type]="showPassword.inputType"
            formControlName="password"
        ></ion-input>
        <ion-icon
            [name]="showPassword.icon"
            slot="end"
            (click)="showPassword.toggle()"
            style="cursor: pointer"
        ></ion-icon>
    </ion-item>

    <ion-text color="danger" *ngIf="isInvalidField('password')">
        Campo obligatorio.
    </ion-text>

    <ion-button
        expand="full"
        color="success"
        type="submit"
        [disabled]="loginForm.invalid"
    >
        Iniciar Sesión
    </ion-button>

    <div class="link-flex link-padding">
        <a
            [routerLink]="[
                '/',
                routesName.AUTH.route,
                routesName.REGISTER.route
            ]"
            class="register-link"
        >
            ¿Aún no tienes una cuenta?
        </a>

        <a
            [routerLink]="[
                '/',
                routesName.AUTH.route,
                routesName.PASSWORD.route
            ]"
            class="register-link"
        >
            Olvidé mi contraseña
        </a>
    </div>
</form>
<!-- </ion-content> -->
