<ion-app>
    <ion-menu contentId="main-content">
        <ion-header>
            <ion-toolbar>
                <ion-title>Menú</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>
                <ion-item routerLink="/index">Inicio</ion-item>
                <ion-item routerLink="/reports">Reportes</ion-item>
                <ion-item routerLink="/profile">Perfil</ion-item>
            </ion-list>
        </ion-content>
    </ion-menu>

    <ion-page id="main-content">
        <shared-header></shared-header>
        <ion-content>
            <router-outlet></router-outlet>
        </ion-content>
        <shared-footer></shared-footer>
    </ion-page>
</ion-app>
