<ion-footer>
    <ion-toolbar>
        <ion-note style="text-align: center; font-weight: bold; display: block">
            Todos Los Derechos Reservados &copy; {{ year.getFullYear() }} | OTI
        </ion-note>
        <ion-note style="text-align: center; font-weight: bold; display: block">
            Desarrollado por
            <a
                (click)="openExternalLink()"
                style="cursor: pointer"
                target="_blank"
            >
                vik<span class="highlight-text">lop</span>
                <span class="link-icon">↗</span>
            </a>
        </ion-note>
    </ion-toolbar>
</ion-footer>
