.login-link{
    text-decoration: none;
}
.titulo {
    margin: 0;
    font-weight: 900;
    font-size: 18px;
    text-align: center;
    padding-bottom: 10px;
}

.link-padding{
    padding-top: 10px;
}


.info-icon-button {
    margin-top: 16px;
  }
