<ion-content [fullscreen]="true">
    <!-- header -->
    <!-- <shared-header></shared-header> -->
    <form [formGroup]="homeForm" class="form">
        <ion-item>
            <ion-label position="floating">Tipo de Incidencia</ion-label>

            <ion-select formControlName="categoria_id">
                <ion-select-option
                    *ngFor="let categoria of categorias"
                    [value]="categoria.id"
                    >{{ categoria.nombre }}</ion-select-option
                >
            </ion-select>
        </ion-item>
        <ion-text color="danger" *ngIf="isInvalidField('categoria_id')">
            Seleccione una categoría.
        </ion-text>

        <ion-item>
            <ion-label position="floating">Dirección</ion-label>
            <ion-textarea formControlName="direccion"></ion-textarea>
        </ion-item>

        <ion-text color="danger" *ngIf="isInvalidField('direccion')">
            Ingrese una direción.
        </ion-text>

        <ion-item>
            <ion-label position="floating">Descripción</ion-label>
            <ion-textarea formControlName="descripcion"></ion-textarea>
        </ion-item>
        <ion-text color="danger" *ngIf="isInvalidField('descripcion')">
            Ingrese una descripción.
        </ion-text>

        <!-- <button>hols</button> -->
        <div class="panic-container">
            <boton-btn-panic
                [isFormValid]="homeForm.valid"
                (onSubmit)="onBotonPanic($event)"
            ></boton-btn-panic>
        </div>
    </form>
</ion-content>

<!-- <shared-footer></shared-footer> -->
