.form {
    padding: 20px 0;
}

.preview-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin: 10px auto;
    display: block;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }
