<!-- <ion-content class="ion-padding" scroll="true"> -->
<p class="titulo">{{ title | titlecase }}</p>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit($event)">
    <ion-item>
        <ion-label position="floating">Nombres</ion-label>
        <ion-input formControlName="name"></ion-input>
    </ion-item>

    <ion-text color="danger" *ngIf="isInvalidField('name')">
        {{ getErrorMessage('name') }}
        <!-- Nombre es inválido. -->
    </ion-text>

    <ion-item>
        <ion-label position="floating">Apellidos</ion-label>
        <ion-input formControlName="apellido"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="isInvalidField('apellido')">
        {{ getErrorMessage('apellido') }}
        <!-- El apellido es inválido -->
    </ion-text>

    <ion-item>
        <ion-label position="floating">Dirección</ion-label>
        <ion-input formControlName="direccion_domicilio"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="isInvalidField('direccion_domicilio')">
        La dircción es invalida.
    </ion-text>

    <ion-item>
        <ion-label position="floating">DNI</ion-label>
        <ion-input formControlName="dni"></ion-input>
    </ion-item>

    <ion-text color="danger" *ngIf="isInvalidField('dni')">
        {{ getErrorMessage('dni') }}
    </ion-text>

    <ion-item lines="full">
        <ion-label position="floating">Dígito Verificador</ion-label>

        <ion-input
            formControlName="digito_verificador"
            maxlength="1"
        ></ion-input>

        <ion-button
            fill="clear"
            slot="end"
            size="small"
            class="info-icon-button"
            (click)="openInfoModal()"
        >
            <ion-icon
                slot="icon-only"
                name="information-circle-outline"
            ></ion-icon>
        </ion-button>
    </ion-item>

    <ion-text color="danger" *ngIf="isInvalidField('digito_verificador')">
        {{ getErrorMessage('digito_verificador') }}
    </ion-text>

    <ion-item>
        <ion-label position="floating">Celular</ion-label>
        <ion-input formControlName="telefono"></ion-input>
    </ion-item>

    <ion-text color="danger" *ngIf="isInvalidField('telefono')">
        {{ getErrorMessage('telefono') }}
    </ion-text>

    <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="isInvalidField('email')">
        <!-- Ingrese un email válido -->
        {{ getErrorMessage('email') }}
    </ion-text>

    <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input
            [type]="showPassword.inputType"
            formControlName="password"
        ></ion-input>
        <ion-icon
            [name]="showPassword.icon"
            slot="end"
            (click)="showPassword.toggle()"
            style="cursor: pointer"
        ></ion-icon>
    </ion-item>

    <ion-text color="danger" *ngIf="isInvalidField('password')">
        {{ getErrorMessage('password') }}
        <!-- La contraseña debe tener al menos 6 caracteres, letras y números. -->
    </ion-text>

    <ion-item>
        <ion-label position="floating">Repetir Contraseña</ion-label>

        <ion-input
            [type]="showPassword.inputType"
            formControlName="password_confirmation"
        ></ion-input>
        <ion-icon
            [name]="showPassword.icon"
            slot="end"
            (click)="showPassword.toggle()"
            style="cursor: pointer"
        ></ion-icon>
    </ion-item>

    <ion-text color="danger" *ngIf="isInvalidField('password_confirmation')">
        Las contraseñas no coinciden
    </ion-text>

    <ion-button
        expand="full"
        color="success"
        type="submit"
        [disabled]="registerForm.invalid"
    >
        Registrarse
    </ion-button>
    <div class="links-container">
        <a
            [routerLink]="['/', routesName.AUTH.route, routesName.LOGIN.route]"
            class="login-link"
        >
            ¿Ya tienes una cuenta? Inicia sesión
        </a>
    </div>
</form>
<!-- </ion-content> -->
