.links-container {
    text-align: center;
    margin-top: 15px;
}

.register-link, .login-link {
    color: #3880ff; /* Color de enlace */
    font-size: 14px;
    text-decoration: none;
}

.register-link:hover, .login-link:hover {
    text-decoration: underline;
}
