<ion-header>
    <ion-toolbar>
        <ion-img
            src="assets/logo.png"
            style="width: 60px; margin-left: 10px"
        ></ion-img>
        <ion-title style="text-align: center">Botón de pánico</ion-title>
    </ion-toolbar>
    <ion-toolbar>
        <ion-note
            style="
                text-align: center;
                font-weight: bold;
                width: 100%;
                display: block;
                font-size: 14px;
                color: black;
            "
        >
            Municipalidad Distrital Andrés Avelino Cáceres
        </ion-note>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Blank</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container">
        <strong>Ready to create an app?</strong>
        <p>
            Start with Ionic
            <a
                target="_blank"
                rel="noopener noreferrer"
                href="https://ionicframework.com/docs/components"
                >UI Components</a
            >
        </p>
    </div>
</ion-content>
