<ion-header>
    <ion-toolbar>
        <div class="header-container">
            <ion-img src="assets/logo.png" class="logo"></ion-img>
            <ion-note class="header-note">
                Municipalidad Distrital Andrés Avelino Cáceres Dorregaray
            </ion-note>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <!-- <p class="titulo">{{ title | titlecase }}</p> -->

    <router-outlet></router-outlet>
    <!-- <ng-content></ng-content> -->
</ion-content>
